<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Extick" %>
    </.live_title>
    <link rel="icon" type="image/png" sizes="32x32" href={~p"/images/favicon-32.png"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased bg-white h-full">
    <ul class="fixed top-0 left-0 z-10 w-full flex items-center gap-4 h-[60px] px-4 sm:px-6 lg:px-8 border-b-2 border-slate-300 bg-white">
      <li class="text-slate-900 mr-auto">
        <.link href={~p"/"} class="text-slate-900 font-semibold hover:text-slate-500">
          ExTick
        </.link>
      </li>

      <%= if @current_user do %>
        <li class="text-slate-900">
          <%= @current_user.email %>
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-slate-900 font-semibold hover:text-slate-500"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-slate-900 font-semibold hover:text-slate-500"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="text-slate-900 font-semibold hover:text-slate-500"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_in"}
            class="text-slate-900 font-semibold hover:text-slate-500"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>

    <div class="h-full pt-[60px]">
      <%= @inner_content %>
    </div>
  </body>
</html>
